flows.json
[{"id":"a7b9d689.b8a5e8","type":"tab","label":"blinky-web-app","disabled":false,"info":""},{"id":"8932920e.09135","type":"tab","label":"gg-scale-web-app","disabled":false,"info":""},{"id":"c5c3b73f.0e85c8","type":"tab","label":"bakeout-web-app","disabled":false,"info":""},{"id":"f7428b8f.e9b108","type":"tab","label":"power-meter-web-app","disabled":false,"info":""},{"id":"21b16085.5aaaa","type":"tab","label":"geiger-web-app","disabled":false,"info":""},{"id":"6ad7c930.1a06b8","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Blinky-Lite Demo","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"5c27d05d.e787b","type":"ui_tab","z":"","name":"Bake","icon":"dashboard","order":5},{"id":"2fcf4efd.ad6ea2","type":"ui_group","z":"","name":"Blinky","tab":"3b7abc62.93e464","order":1,"disp":true,"width":"6","collapse":true},{"id":"b94056c.1c9bba8","type":"mqtt-broker","z":"","name":"MQTT-web-app","broker":"broker.shiftr.io","port":"1883","clientid":"blinky-web-app","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"d05be39a.65603","type":"mqtt-broker","z":"","name":"Shiftr","broker":"broker.shiftr.io","port":"1883","clientid":"gg-scale-web-app","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"210d5cf0.52ad44","type":"ui_group","z":"","name":"Weight","tab":"b25d4628.04f2b8","order":2,"disp":true,"width":"6","collapse":true},{"id":"50271d57.73ac84","type":"ui_group","z":"","name":"Bake-Out","tab":"5c27d05d.e787b","order":3,"disp":true,"width":"6","collapse":true},{"id":"2cea3280.d8711e","type":"mqtt-broker","z":"","name":"Shiftr","broker":"broker.shiftr.io","port":"1883","clientid":"bakeout-web-app","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"e7875feb.de44e","type":"mqtt-broker","z":"","name":"Shiftr","broker":"broker.shiftr.io","port":"1883","clientid":"power-meter-web-app","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"40780e20.2c381","type":"ui_group","z":"","name":"Power Meter","tab":"d59b7205.424f","order":4,"disp":true,"width":"6","collapse":true},{"id":"9d62e312.426bb","type":"ui_group","z":"","name":"Geiger","tab":"50871825.e79758","order":5,"disp":true,"width":"6","collapse":false},{"id":"3b7abc62.93e464","type":"ui_tab","z":"","name":"Blinky","icon":"dashboard","order":1},{"id":"b25d4628.04f2b8","type":"ui_tab","z":"","name":"Scale","icon":"dashboard","order":3},{"id":"50871825.e79758","type":"ui_tab","z":"","name":"Geiger","icon":"dashboard","order":2},{"id":"d59b7205.424f","type":"ui_tab","z":"","name":"Power","icon":"dashboard","order":4},{"id":"b3708eee.6fca3","type":"ui_button","z":"a7b9d689.b8a5e8","name":"Red Button","group":"2fcf4efd.ad6ea2","order":2,"width":0,"height":0,"passthru":false,"label":"{{msg.topic}}","color":"","bgcolor":"{{msg.background}}","icon":"","payload":"","payloadType":"num","topic":"blinky-lite-tutorial/web-app/red/ledState","x":710,"y":80,"wires":[["dd65fd39.ef0a7"]]},{"id":"37446d4f.cf4742","type":"mqtt out","z":"a7b9d689.b8a5e8","name":"","topic":"","qos":"","retain":"","broker":"b94056c.1c9bba8","x":1110,"y":160,"wires":[]},{"id":"33e280b8.9fcbc","type":"mqtt in","z":"a7b9d689.b8a5e8","name":"","topic":"tutorial/dma/red/#","qos":"0","broker":"b94056c.1c9bba8","x":160,"y":100,"wires":[["39f2bd14.e70492"]]},{"id":"39f2bd14.e70492","type":"json","z":"a7b9d689.b8a5e8","name":"","property":"payload","action":"","pretty":false,"x":330,"y":100,"wires":[["875ab289.86358","87e9fdd.a28cf","29f91679.1de79a"]]},{"id":"875ab289.86358","type":"function","z":"a7b9d689.b8a5e8","name":"Led State","func":"if (msg.topic != 'tutorial/dma/red/ledState') return null;\nif (msg.payload == 0)\n{\n    msg.topic = 'Off';\n    msg.background = '#800000';\n}\nif (msg.payload == 1)\n{\n    msg.topic = 'Blinking';\n    msg.background = '#ff6666';\n}\nif (msg.payload == 2) \n{\n    msg.topic = 'On';\n    msg.background = '#ff0000';\n}\nflow.set('red/ledState',msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":80,"wires":[["b3708eee.6fca3"]]},{"id":"dd65fd39.ef0a7","type":"function","z":"a7b9d689.b8a5e8","name":"Change LedState","func":"var ledState = flow.get('red/ledState');\nledState = ledState + 1;\nif (ledState > 2) ledState = 0;\nmsg.topic = 'tutorial/web-app/red/ledState';\nmsg.payload = ledState;\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":80,"wires":[["37446d4f.cf4742"]]},{"id":"74cdbda4.17a944","type":"ui_gauge","z":"a7b9d689.b8a5e8","name":"Red LED Intensity","group":"2fcf4efd.ad6ea2","order":1,"width":0,"height":0,"gtype":"gage","title":"LED Intensity","label":"","format":"{{value}}","min":0,"max":"100","colors":["#ca3838","#ca3838","#ca3838"],"seg1":"","seg2":"","x":690,"y":120,"wires":[]},{"id":"87e9fdd.a28cf","type":"function","z":"a7b9d689.b8a5e8","name":"Led Intensity","func":"if (msg.topic != 'tutorial/dma/red/ledIntensity') return null;\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":120,"wires":[["74cdbda4.17a944"]]},{"id":"fd8577.f6e7fa88","type":"ui_slider","z":"a7b9d689.b8a5e8","name":"Red Blink Period","label":"Interval","group":"2fcf4efd.ad6ea2","order":3,"width":0,"height":0,"passthru":false,"topic":"tutorial/web-app/red/ledToggle","min":"1","max":"10","step":"1","x":690,"y":160,"wires":[["37446d4f.cf4742"]]},{"id":"2ca03bc2.f1bb94","type":"inject","z":"a7b9d689.b8a5e8","name":"Init","topic":"","payload":"5","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":"5","x":490,"y":220,"wires":[["234f518b.c2adde"]]},{"id":"ca13541b.a791a8","type":"ui_button","z":"a7b9d689.b8a5e8","name":"Green Button","group":"2fcf4efd.ad6ea2","order":5,"width":0,"height":0,"passthru":false,"label":"{{msg.topic}}","color":"","bgcolor":"{{msg.background}}","icon":"","payload":"","payloadType":"num","topic":"blinky-lite-tutorial/web-app/green/ledState","x":730,"y":340,"wires":[["6298b1fc.0e794"]]},{"id":"35c4eddb.a566a2","type":"mqtt out","z":"a7b9d689.b8a5e8","name":"","topic":"","qos":"","retain":"false","broker":"b94056c.1c9bba8","x":1090,"y":420,"wires":[]},{"id":"e92c0303.9b58f","type":"mqtt in","z":"a7b9d689.b8a5e8","name":"","topic":"tutorial/dma/green/#","qos":"0","broker":"b94056c.1c9bba8","x":170,"y":380,"wires":[["379de900.b83a08"]]},{"id":"379de900.b83a08","type":"json","z":"a7b9d689.b8a5e8","name":"","property":"payload","action":"","pretty":false,"x":350,"y":380,"wires":[["a990bbc5.5883a8","76b6a3e8.d903bc","8c59f67b.9759b8"]]},{"id":"a990bbc5.5883a8","type":"function","z":"a7b9d689.b8a5e8","name":"Led State","func":"if (msg.topic != 'tutorial/dma/green/ledState') return null;\nif (msg.payload == 0)\n{\n    msg.topic = 'Off';\n    msg.background = '#008000';\n}\nif (msg.payload == 1)\n{\n    msg.topic = 'Blinking';\n    msg.background = '#66ff66';\n}\nif (msg.payload == 2) \n{\n    msg.topic = 'On';\n    msg.background = '#00ff00';\n}\nflow.set('green/ledState',msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":340,"wires":[["ca13541b.a791a8"]]},{"id":"6298b1fc.0e794","type":"function","z":"a7b9d689.b8a5e8","name":"Change LedState","func":"var ledState = flow.get('green/ledState');\nledState = ledState + 1;\nif (ledState > 2) ledState = 0;\nmsg.topic = 'tutorial/web-app/green/ledState';\nmsg.payload = ledState;\nreturn msg;","outputs":1,"noerr":0,"x":910,"y":340,"wires":[["35c4eddb.a566a2"]]},{"id":"e570b753.82b348","type":"ui_gauge","z":"a7b9d689.b8a5e8","name":"Green LED Intensity","group":"2fcf4efd.ad6ea2","order":4,"width":0,"height":0,"gtype":"gage","title":"LED Intensity","label":"","format":"{{value}}","min":0,"max":"100","colors":["#70ff48","#70ff48","#70ff48"],"seg1":"","seg2":"","x":700,"y":380,"wires":[]},{"id":"76b6a3e8.d903bc","type":"function","z":"a7b9d689.b8a5e8","name":"Led Intensity","func":"if (msg.topic != 'tutorial/dma/green/ledIntensity') return null;\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":380,"wires":[["e570b753.82b348"]]},{"id":"3d4f5e9e.1b81f2","type":"ui_slider","z":"a7b9d689.b8a5e8","name":"Green Blink Period","label":"Interval","group":"2fcf4efd.ad6ea2","order":6,"width":0,"height":0,"passthru":false,"topic":"tutorial/web-app/green/ledToggle","min":"1","max":"10","step":"1","x":710,"y":420,"wires":[["35c4eddb.a566a2"]]},{"id":"a4119976.c030d8","type":"mqtt in","z":"8932920e.09135","name":"","topic":"gg-scale/01/weight","qos":"0","broker":"d05be39a.65603","x":210,"y":100,"wires":[["9c115f02.d62d6"]]},{"id":"9c115f02.d62d6","type":"json","z":"8932920e.09135","name":"","property":"payload","action":"","pretty":false,"x":370,"y":100,"wires":[["fb3a825e.d7109"]]},{"id":"a6309b99.a2f6d8","type":"ui_gauge","z":"8932920e.09135","name":"Weight","group":"210d5cf0.52ad44","order":3,"width":0,"height":0,"gtype":"gage","title":"{{msg.topic}}","label":"","format":"{{value}}","min":"-300","max":"300","colors":["#ca3838","#00b500","#ca3838"],"seg1":"-150","seg2":"150","x":790,"y":80,"wires":[]},{"id":"fb3a825e.d7109","type":"function","z":"8932920e.09135","name":"Get Weight Value","func":"var oldDate = context.get('timestamp') || 0;\nvar newDate = new Date();\ncontext.set('timestamp', newDate);\nvar deltatT = newDate.getTime() - oldDate.getTime();\nvar dateMsg = {'topic':'interval', 'payload':deltatT};\nglobal.set('weight',msg.payload);\nvar newMsg = \n{\n    'topic':'validData',\n    'payload':msg.payload.validData\n}\nreturn [{'topic':msg.payload.unit, 'payload':msg.payload.value},newMsg, dateMsg];","outputs":3,"noerr":0,"x":550,"y":100,"wires":[["a6309b99.a2f6d8","9418c762.a8ba78"],["54f60c36.3e34c4"],[]]},{"id":"7bb775b8.8da33c","type":"ui_template","z":"8932920e.09135","group":"210d5cf0.52ad44","name":"Toggle Unit","order":4,"width":"0","height":"0","format":"<md-button \n    ng-style=\"{color:'black', background:'lime'}\"\n    ng-disabled='false'\n    ng-click=\"send({payload:true})\">Toggle Unit</md-button>\n","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":190,"y":180,"wires":[["6e5d4c24.998234"]]},{"id":"6e5d4c24.998234","type":"mqtt out","z":"8932920e.09135","name":"","topic":"gg-scale/01/toggleUnits","qos":"0","retain":"false","broker":"d05be39a.65603","x":410,"y":180,"wires":[]},{"id":"2f0461f.172669e","type":"ui_template","z":"8932920e.09135","group":"210d5cf0.52ad44","name":"Zero Scale","order":5,"width":"0","height":"0","format":"<md-button \n    ng-style=\"{color:'black', background:'lime'}\"\n    ng-disabled='false'\n    ng-click=\"send({payload:true})\">Zero Scale</md-button>\n","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":190,"y":240,"wires":[["b58805ba.5d4f28"]]},{"id":"b58805ba.5d4f28","type":"mqtt out","z":"8932920e.09135","name":"","topic":"gg-scale/01/tare","qos":"0","retain":"false","broker":"d05be39a.65603","x":440,"y":240,"wires":[]},{"id":"54f60c36.3e34c4","type":"ui_text","z":"8932920e.09135","group":"210d5cf0.52ad44","order":1,"width":"6","height":"1","name":"Valid Data","label":"Valid Data","format":"<font color={{(msg.payload == false) ? 'red' : 'lime'}} size=\"6\" ><i class=\"fa fa-circle\"></i></font>","layout":"row-center","x":810,"y":160,"wires":[]},{"id":"9418c762.a8ba78","type":"ui_chart","z":"8932920e.09135","name":"Time chart","group":"210d5cf0.52ad44","order":2,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":810,"y":120,"wires":[[],[]]},{"id":"56577f77.25f8e","type":"ui_switch","z":"c5c3b73f.0e85c8","name":"HeaterControl","label":"Heater","group":"50271d57.73ac84","order":1,"width":"3","height":"1","passthru":false,"decouple":"false","topic":"bake01/HeaterControl","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":520,"y":320,"wires":[["7420bc66.9a3034"]]},{"id":"edead079.7d5ef","type":"ui_chart","z":"c5c3b73f.0e85c8","name":"","group":"50271d57.73ac84","order":8,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":590,"y":60,"wires":[[],[]]},{"id":"3812f1.68059d1","type":"function","z":"c5c3b73f.0e85c8","name":"BlankPlot","func":"msg.payload = [];\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":60,"wires":[["edead079.7d5ef"]]},{"id":"df01a25e.7f834","type":"ui_gauge","z":"c5c3b73f.0e85c8","name":"","group":"50271d57.73ac84","order":5,"width":"6","height":"4","gtype":"gage","title":"","label":"units","format":"{{value | number:1}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"30","seg2":"70","x":590,"y":120,"wires":[]},{"id":"1dc3877b.279509","type":"ui_switch","z":"c5c3b73f.0e85c8","name":"Regulate","label":"Regulate","group":"50271d57.73ac84","order":2,"width":"3","height":"1","passthru":true,"decouple":"false","topic":"bake01/regulate","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":540,"y":500,"wires":[["fbc2f3e7.da44b"]]},{"id":"9d29f8bf.1f9cb8","type":"ui_text_input","z":"c5c3b73f.0e85c8","name":"Regulate Temperature","label":"Target","group":"50271d57.73ac84","order":3,"width":"3","height":"1","passthru":true,"mode":"text","delay":"300","topic":"bake01/regulateTemp","x":500,"y":420,"wires":[["fbc2f3e7.da44b"]]},{"id":"1e7ae13f.4df28f","type":"ui_text_input","z":"c5c3b73f.0e85c8","name":"Regulate Window","label":"Window","group":"50271d57.73ac84","order":4,"width":"3","height":"1","passthru":true,"mode":"text","delay":"300","topic":"bake01/regulateWindow","x":510,"y":460,"wires":[["fbc2f3e7.da44b"]]},{"id":"f81cfd08.cafe8","type":"inject","z":"c5c3b73f.0e85c8","name":"","topic":"bake01/regulateTemp","payload":"20","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":"4","x":230,"y":420,"wires":[["9d29f8bf.1f9cb8","f6195b77.76fb08"]]},{"id":"e53263dc.e7dc8","type":"inject","z":"c5c3b73f.0e85c8","name":"","topic":"bake01/regulateWindow","payload":"4","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":"5","x":230,"y":460,"wires":[["1e7ae13f.4df28f","f6195b77.76fb08"]]},{"id":"c7077bad.cca718","type":"ui_template","z":"c5c3b73f.0e85c8","group":"50271d57.73ac84","name":"Restart Plot","order":9,"width":"6","height":"1","format":"<md-button \n    ng-style=\"{color:'black', background:'lime'}\"\n    ng-disabled='false'\n    ng-click=\"send({payload:true})\">Restart Plot</md-button>\n","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":230,"y":60,"wires":[["3812f1.68059d1"]]},{"id":"1a30c678.93799a","type":"ui_text","z":"c5c3b73f.0e85c8","group":"50271d57.73ac84","order":7,"width":"3","height":"1","name":"AboveWindow","label":"","format":"<font color={{(msg.payload == false) ? 'lime' : 'red'}} size=\"6\" ><i class=\"fa fa-circle\"></i></font>","layout":"col-center","x":560,"y":200,"wires":[]},{"id":"bcf9d2a4.fc5f2","type":"ui_text","z":"c5c3b73f.0e85c8","group":"50271d57.73ac84","order":6,"width":"3","height":"1","name":"BelowWindow","label":"","format":"<font color={{(msg.payload == false) ? 'lime' : 'red'}} size=\"6\" ><i class=\"fa fa-circle\"></i></font>","layout":"col-center","x":560,"y":260,"wires":[]},{"id":"a85e05f9.1fdd98","type":"inject","z":"c5c3b73f.0e85c8","name":"","topic":"bake01/regulate","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":true,"onceDelay":"6","x":240,"y":500,"wires":[["1dc3877b.279509","f6195b77.76fb08"]]},{"id":"73e3b052.44eb2","type":"inject","z":"c5c3b73f.0e85c8","name":"Init","topic":"Init","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"4","x":170,"y":800,"wires":[["16a1b9a1.8108d6","41bbf802.ce09f8"]]},{"id":"16a1b9a1.8108d6","type":"function","z":"c5c3b73f.0e85c8","name":"Init","func":"flow.set('blankTemperature', false);\nreturn null;","outputs":1,"noerr":0,"x":330,"y":800,"wires":[[]]},{"id":"de7076ae.d71068","type":"ui_text_input","z":"c5c3b73f.0e85c8","name":"Bandwidth","label":"Bandwidth","group":"50271d57.73ac84","order":10,"width":"2","height":"1","passthru":false,"mode":"text","delay":"300","topic":"bandwidth","x":670,"y":940,"wires":[["44b433c5.2a4bdc"]]},{"id":"31dd493a.3ce7a6","type":"ui_text_input","z":"c5c3b73f.0e85c8","name":"Temp Cal","label":"Temp Cal","group":"50271d57.73ac84","order":11,"width":"2","height":"1","passthru":false,"mode":"text","delay":"300","topic":"calFactor","x":660,"y":980,"wires":[["44b433c5.2a4bdc"]]},{"id":"a2ba24aa.27fd28","type":"ui_text_input","z":"c5c3b73f.0e85c8","name":"Temp Offset","label":"Temp Offset","group":"50271d57.73ac84","order":12,"width":"2","height":"1","passthru":false,"mode":"text","delay":"300","topic":"offset","x":670,"y":1020,"wires":[["44b433c5.2a4bdc"]]},{"id":"1a71d02f.3183b","type":"ui_template","z":"c5c3b73f.0e85c8","group":"50271d57.73ac84","name":"Set","order":13,"width":"6","height":"1","format":"<md-button \n    ng-style=\"{color:'black', background:'orange'}\"\n    ng-disabled='false'\n    ng-click=\"send({payload:true})\">Set Bandwidth-Cal-Offset</md-button>\n","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":470,"y":800,"wires":[["a1521570.082728"]]},{"id":"41bbf802.ce09f8","type":"function","z":"c5c3b73f.0e85c8","name":"Init Settings","func":"var tempSettings = \n{\n    'topic':'tempSettings',\n    'payload':\n    {\n        'bandwidth':0.5,\n        'calFactor':1,\n        'offset':30\n    }\n};\nglobal.set('tempSettings', tempSettings);\nreturn tempSettings;","outputs":1,"noerr":0,"x":270,"y":880,"wires":[["9845b33.f15a45","a0f8c268.c6d77"]]},{"id":"9845b33.f15a45","type":"delay","z":"c5c3b73f.0e85c8","name":"","pauseType":"delay","timeout":"4","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":460,"y":880,"wires":[["e39f3423.84e598"]]},{"id":"e39f3423.84e598","type":"function","z":"c5c3b73f.0e85c8","name":"Send Settings to Arduino","func":"var tempSettings = global.get('tempSettings');\nvar bandwidth = \n{\n    'topic':'bake01/bandwidth',\n    'payload':'bandwidth ' + tempSettings.payload.bandwidth.toString() + '!'\n}\nvar calFactor = \n{\n    'topic':'bake01/calFactor',\n    'payload':'calFactor ' + tempSettings.payload.calFactor.toString() + '!'\n}\nvar offset = \n{\n    'topic':'bake01/offset',\n    'payload':'offset ' + tempSettings.payload.offset.toString() + '!'\n}\n\nreturn [bandwidth,calFactor,offset];","outputs":3,"noerr":0,"x":690,"y":880,"wires":[["ed3a0b6b.c84238"],["c9d7a051.51405"],["a8113fdf.ad346","95ca6918.f9eb88"]]},{"id":"a8113fdf.ad346","type":"delay","z":"c5c3b73f.0e85c8","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":930,"y":920,"wires":[["e2dee190.187d2"]]},{"id":"c9d7a051.51405","type":"delay","z":"c5c3b73f.0e85c8","name":"","pauseType":"delay","timeout":"200","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":930,"y":860,"wires":[["da8058f0.21ec58"]]},{"id":"ed3a0b6b.c84238","type":"delay","z":"c5c3b73f.0e85c8","name":"","pauseType":"delay","timeout":"300","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":930,"y":800,"wires":[["aa1434e9.6f97d8"]]},{"id":"44b433c5.2a4bdc","type":"function","z":"c5c3b73f.0e85c8","name":"Hold New settings","func":"var tempSettings = global.get('tempSettings');\ntempSettings.payload[msg.topic] = Number(msg.payload);\nglobal.set('tempSettings',tempSettings)\nreturn tempSettings;\n","outputs":1,"noerr":0,"x":910,"y":1040,"wires":[[]]},{"id":"a0f8c268.c6d77","type":"function","z":"c5c3b73f.0e85c8","name":"Parse Settings","func":"var bandwidth = \n{\n    'topic':'bandwidth',\n    'payload':msg.payload.bandwidth\n}\nvar calFactor = \n{\n    'topic':'calFactor',\n    'payload':msg.payload.calFactor\n}\nvar offset = \n{\n    'topic':'offset',\n    'payload':msg.payload.offset\n}\nreturn [bandwidth, calFactor, offset];","outputs":3,"noerr":0,"x":460,"y":960,"wires":[["de7076ae.d71068"],["31dd493a.3ce7a6"],["a2ba24aa.27fd28"]]},{"id":"a1521570.082728","type":"function","z":"c5c3b73f.0e85c8","name":"Get Settings","func":"var tempSettings = global.get('tempSettings');\nreturn tempSettings;","outputs":1,"noerr":0,"x":630,"y":800,"wires":[["e39f3423.84e598"]]},{"id":"fbc2f3e7.da44b","type":"mqtt out","z":"c5c3b73f.0e85c8","name":"Regulation Control","topic":"","qos":"2","retain":"false","broker":"2cea3280.d8711e","x":730,"y":460,"wires":[]},{"id":"b8686544.2a72e8","type":"mqtt in","z":"c5c3b73f.0e85c8","name":"","topic":"bake01/temperature","qos":"0","broker":"2cea3280.d8711e","x":210,"y":120,"wires":[["4d0947a9.c63588"]]},{"id":"460b093.24bbdf8","type":"mqtt in","z":"c5c3b73f.0e85c8","name":"","topic":"bake01/aboveWindow","qos":"0","broker":"2cea3280.d8711e","x":220,"y":200,"wires":[["90d74ec6.ac641"]]},{"id":"fb078695.ca5e78","type":"mqtt in","z":"c5c3b73f.0e85c8","name":"","topic":"bake01/belowWindow","qos":"0","broker":"2cea3280.d8711e","x":220,"y":260,"wires":[["f951c686.49f368"]]},{"id":"5f5e2951.ce15d8","type":"mqtt in","z":"c5c3b73f.0e85c8","name":"","topic":"bake01/HeaterStatus","qos":"0","broker":"2cea3280.d8711e","x":160,"y":320,"wires":[["33667118.ab75fe"]]},{"id":"7420bc66.9a3034","type":"mqtt out","z":"c5c3b73f.0e85c8","name":"bake01/HeaterControl","topic":"","qos":"0","retain":"false","broker":"2cea3280.d8711e","x":740,"y":320,"wires":[]},{"id":"aa1434e9.6f97d8","type":"mqtt out","z":"c5c3b73f.0e85c8","name":"bake01/bandwidth","topic":"","qos":"2","retain":"false","broker":"2cea3280.d8711e","x":1130,"y":800,"wires":[]},{"id":"da8058f0.21ec58","type":"mqtt out","z":"c5c3b73f.0e85c8","name":"bake01/calFactor","topic":"","qos":"2","retain":"false","broker":"2cea3280.d8711e","x":1130,"y":860,"wires":[]},{"id":"e2dee190.187d2","type":"mqtt out","z":"c5c3b73f.0e85c8","name":"bake01/offset","topic":"","qos":"2","retain":"false","broker":"2cea3280.d8711e","x":1120,"y":920,"wires":[]},{"id":"95ca6918.f9eb88","type":"mqtt out","z":"c5c3b73f.0e85c8","name":"","topic":"bake01/sendingSettings","qos":"2","retain":"false","broker":"2cea3280.d8711e","x":970,"y":980,"wires":[]},{"id":"90d74ec6.ac641","type":"json","z":"c5c3b73f.0e85c8","name":"","property":"payload","action":"","pretty":false,"x":410,"y":200,"wires":[["1a30c678.93799a"]]},{"id":"4d0947a9.c63588","type":"json","z":"c5c3b73f.0e85c8","name":"","property":"payload","action":"","pretty":false,"x":390,"y":120,"wires":[["edead079.7d5ef","df01a25e.7f834"]]},{"id":"f951c686.49f368","type":"json","z":"c5c3b73f.0e85c8","name":"","property":"payload","action":"","pretty":false,"x":410,"y":260,"wires":[["bcf9d2a4.fc5f2"]]},{"id":"33667118.ab75fe","type":"json","z":"c5c3b73f.0e85c8","name":"","property":"payload","action":"","pretty":false,"x":330,"y":320,"wires":[["56577f77.25f8e"]]},{"id":"f6195b77.76fb08","type":"mqtt out","z":"c5c3b73f.0e85c8","name":"Regulation Setup","topic":"","qos":"0","retain":"true","broker":"2cea3280.d8711e","x":550,"y":600,"wires":[]},{"id":"fcbbc9c8.eef318","type":"mqtt in","z":"f7428b8f.e9b108","name":"","topic":"power/+/readings/echo","qos":"0","broker":"e7875feb.de44e","x":200,"y":180,"wires":[["5e98fb08.1aa254"]]},{"id":"b327c509.610bd8","type":"ui_chart","z":"f7428b8f.e9b108","name":"Power Plot","group":"40780e20.2c381","order":2,"width":0,"height":0,"label":"Power (W)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":710,"y":360,"wires":[[],[]]},{"id":"93ab7647.bded18","type":"ui_gauge","z":"f7428b8f.e9b108","name":"Power Gauge","group":"40780e20.2c381","order":1,"width":0,"height":0,"gtype":"gage","title":"","label":"Watts","format":"{{value | number:0}}","min":0,"max":"450","colors":["#00b500","#e6e600","#ca3838"],"seg1":"150","seg2":"300","x":740,"y":180,"wires":[]},{"id":"ce2c23f6.d6933","type":"function","z":"f7428b8f.e9b108","name":"BlankPlot","func":"msg.payload = [];\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":360,"wires":[["b327c509.610bd8"]]},{"id":"533429e.4e231d8","type":"ui_template","z":"f7428b8f.e9b108","group":"40780e20.2c381","name":"Restart Power Plot","order":3,"width":"0","height":"0","format":"<md-button \n    ng-style=\"{color:'black', background:'lime'}\"\n    ng-disabled='false'\n    ng-click=\"send({payload:true})\">Restart Power</md-button>\n","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":290,"y":360,"wires":[["ce2c23f6.d6933"]]},{"id":"21f36839.98e0c8","type":"inject","z":"f7428b8f.e9b108","name":"Init","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":190,"y":480,"wires":[["2c0363ef.a1b4cc","d325a433.6f7b68","d010738b.e927c"]]},{"id":"369fef52.5259d","type":"mqtt out","z":"f7428b8f.e9b108","name":"","topic":"power/zeroIoc01/settings/get","qos":"0","retain":"false","broker":"e7875feb.de44e","x":560,"y":480,"wires":[]},{"id":"2c0363ef.a1b4cc","type":"delay","z":"f7428b8f.e9b108","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":340,"y":480,"wires":[["369fef52.5259d"]]},{"id":"6420f4da.b9676c","type":"function","z":"f7428b8f.e9b108","name":"Get Power","func":"var power = msg.payload.power\nvar now = new Date().getTime();\nvar dt = (now - global.get('time')) / 1000.0 / 3600.0;\nglobal.set('time',now);\nglobal.set('power',power);\nvar intPow = global.get('intPow');\nvar lastPower = context.get('lastPower') || 0;\nvar cycles = global.get('cycles');\nif (power > 400.0)\n{\n    var dintPow = power * dt / 1000.0;\n    intPow = dintPow + intPow;\n    global.set('intPow', intPow);\n    if (lastPower < 300)\n    {\n        cycles = cycles + 1;\n        global.set('cycles', cycles);\n    }\n}\ncontext.set('lastPower',power);\nvar intPowMsg = {'topic':'intPow','payload':intPow};\nvar powMsg = {'topic':'power','payload':power};\nvar cyclesMsg = {'topic':'cycles','payload':cycles};\nreturn powMsg;","outputs":1,"noerr":0,"x":550,"y":180,"wires":[["93ab7647.bded18","b327c509.610bd8"]]},{"id":"5e98fb08.1aa254","type":"json","z":"f7428b8f.e9b108","name":"","property":"payload","action":"","pretty":false,"x":410,"y":180,"wires":[["6420f4da.b9676c"]]},{"id":"c8662e65.42146","type":"mqtt in","z":"f7428b8f.e9b108","name":"","topic":"power/+/settings/echo","qos":"0","broker":"e7875feb.de44e","x":180,"y":680,"wires":[["54c0305c.0bc92"]]},{"id":"54c0305c.0bc92","type":"json","z":"f7428b8f.e9b108","name":"","property":"payload","action":"","pretty":false,"x":360,"y":680,"wires":[["1c46eb2a.cf2915"]]},{"id":"1c46eb2a.cf2915","type":"function","z":"f7428b8f.e9b108","name":"Store Settings","func":"msg.topic = 'powerMeterSettings';\nglobal.set('powerMeterSettings', msg);\nglobal.set('stagedPowerMeterSettings', msg);\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":680,"wires":[["8c7a8bfb.cd0d08"]]},{"id":"9d54a23d.aa98b","type":"ui_text_input","z":"f7428b8f.e9b108","name":"Bandwidth","label":"Bandwidth","group":"40780e20.2c381","order":8,"width":"2","height":"1","passthru":false,"mode":"text","delay":"300","topic":"bandwidth","x":960,"y":640,"wires":[["227ea2bd.68666e"]]},{"id":"8c7a8bfb.cd0d08","type":"function","z":"f7428b8f.e9b108","name":"Parse Settings","func":"var bandwidth = \n{\n    'topic':'bandwidth',\n    'payload':msg.payload.bandwidth\n}\nvar powerCal = \n{\n    'topic':'powerCal',\n    'payload':msg.payload.powerCal\n}\nvar powerOffset = \n{\n    'topic':'powerOffset',\n    'payload':msg.payload.powerOffset\n}\nreturn [bandwidth, powerCal, powerOffset];","outputs":3,"noerr":0,"x":730,"y":680,"wires":[["9d54a23d.aa98b"],["25ee0651.02317a"],["e89e2fde.5ae27"]]},{"id":"25ee0651.02317a","type":"ui_text_input","z":"f7428b8f.e9b108","name":"PowerCal","label":"Power Cal","group":"40780e20.2c381","order":9,"width":"2","height":"1","passthru":false,"mode":"text","delay":"300","topic":"powerCal","x":950,"y":680,"wires":[["227ea2bd.68666e"]]},{"id":"e89e2fde.5ae27","type":"ui_text_input","z":"f7428b8f.e9b108","name":"Power Offset","label":"Power Offset","group":"40780e20.2c381","order":10,"width":"2","height":"1","passthru":false,"mode":"text","delay":"300","topic":"powerOffset","x":960,"y":720,"wires":[["227ea2bd.68666e"]]},{"id":"227ea2bd.68666e","type":"function","z":"f7428b8f.e9b108","name":"Hold New settings","func":"var stagedPowerMeterSettings = global.get('stagedPowerMeterSettings');\nstagedPowerMeterSettings.payload[msg.topic] = Number(msg.payload);\nglobal.set('stagedPowerMeterSettings',stagedPowerMeterSettings)\nreturn stagedPowerMeterSettings;","outputs":1,"noerr":0,"x":1190,"y":680,"wires":[[]]},{"id":"73c4c806.3955f8","type":"ui_template","z":"f7428b8f.e9b108","group":"40780e20.2c381","name":"Refresh","order":11,"width":"3","height":"1","format":"<md-button \n    ng-style=\"{color:'black', background:'lime'}\"\n    ng-disabled='false'\n    ng-click=\"send({payload:true})\">Refresh</md-button>\n","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":360,"y":540,"wires":[["369fef52.5259d"]]},{"id":"3d4efba6.f82d24","type":"ui_template","z":"f7428b8f.e9b108","group":"40780e20.2c381","name":"Set","order":12,"width":"3","height":"1","format":"<md-button \n    ng-style=\"{color:'black', background:'yellow'}\"\n    ng-disabled='false'\n    ng-click=\"send({payload:true})\">Set</md-button>\n","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":290,"y":780,"wires":[["da72d021.c07fb"]]},{"id":"da72d021.c07fb","type":"function","z":"f7428b8f.e9b108","name":"Send Staged settings","func":"return global.get('stagedPowerMeterSettings');","outputs":1,"noerr":0,"x":490,"y":780,"wires":[["494c04cf.bcb35c"]]},{"id":"494c04cf.bcb35c","type":"mqtt out","z":"f7428b8f.e9b108","name":"","topic":"power/zeroIoc01/settings/set","qos":"0","retain":"false","broker":"e7875feb.de44e","x":760,"y":780,"wires":[]},{"id":"d325a433.6f7b68","type":"function","z":"f7428b8f.e9b108","name":"Reset Integration","func":"global.set('intPow',0);\nglobal.set('cycles',0);\nglobal.set('time',new Date().getTime());\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":600,"wires":[[]]},{"id":"d010738b.e927c","type":"link out","z":"f7428b8f.e9b108","name":"Init","links":[],"x":295,"y":420,"wires":[]},{"id":"27f6eba0.96f6e4","type":"mqtt in","z":"21b16085.5aaaa","name":"","topic":"geiger01","qos":"0","broker":"e7875feb.de44e","x":200,"y":180,"wires":[["4ed45376.ce778c"]]},{"id":"5572ea6b.1f3164","type":"ui_chart","z":"21b16085.5aaaa","name":"Counts Plot","group":"9d62e312.426bb","order":1,"width":0,"height":0,"label":"Counts Per Minute","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":770,"y":180,"wires":[[],[]]},{"id":"4ed45376.ce778c","type":"json","z":"21b16085.5aaaa","name":"","property":"payload","action":"","pretty":false,"x":370,"y":180,"wires":[["68da4748.fa7808"]]},{"id":"68da4748.fa7808","type":"function","z":"21b16085.5aaaa","name":"getCpm","func":"return [{'topic':'cpm', 'payload':msg.payload.cpm}, {'topic':'nsph', 'payload':msg.payload.nSph}];","outputs":2,"noerr":0,"x":540,"y":180,"wires":[["5572ea6b.1f3164","c05f908.ad2667"],["dcfc3dd0.a08dc","20570442.5ac23c","5e1a3074.b7e2a"]]},{"id":"dcfc3dd0.a08dc","type":"ui_chart","z":"21b16085.5aaaa","name":"Rad Plot","group":"9d62e312.426bb","order":2,"width":0,"height":0,"label":"nano Seiverts per Hour","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":760,"y":240,"wires":[[],[]]},{"id":"20570442.5ac23c","type":"function","z":"21b16085.5aaaa","name":"set True","func":"msg.payload = true;\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":300,"wires":[["582eea15.5c0ea4"]]},{"id":"5e1a3074.b7e2a","type":"delay","z":"21b16085.5aaaa","name":"","pauseType":"delay","timeout":"0.5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":710,"y":380,"wires":[["f8b9bec3.4a114"]]},{"id":"f8b9bec3.4a114","type":"function","z":"21b16085.5aaaa","name":"set False","func":"msg.payload = false;\nreturn msg;","outputs":1,"noerr":0,"x":860,"y":380,"wires":[["582eea15.5c0ea4"]]},{"id":"582eea15.5c0ea4","type":"ui_text","z":"21b16085.5aaaa","group":"9d62e312.426bb","order":3,"width":"6","height":"2","name":"AboveWindow","label":"","format":"<font color={{(msg.payload == false) ? 'black' : 'blue'}} size=\"20px\" ><i class=\"fa fa-bolt\"></i></font>","layout":"col-center","x":1000,"y":300,"wires":[]},{"id":"44c2c0d3.208ed","type":"ui_audio","z":"21b16085.5aaaa","name":"","group":"9d62e312.426bb","voice":"","always":true,"x":900,"y":460,"wires":[]},{"id":"2cbeb928.e6fd06","type":"file in","z":"21b16085.5aaaa","name":"","filename":"protonTorpedo.mp3","format":"","chunk":false,"sendError":false,"x":450,"y":580,"wires":[["99195c3d.7a00b"]]},{"id":"38e2a192.1dd4fe","type":"inject","z":"21b16085.5aaaa","name":"","topic":"Init","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":true,"onceDelay":"2","x":200,"y":580,"wires":[["2cbeb928.e6fd06","b73151f2.64885"]]},{"id":"99195c3d.7a00b","type":"function","z":"21b16085.5aaaa","name":"Store Sound","func":"flow.set('torpedo', msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":580,"wires":[[]]},{"id":"c05f908.ad2667","type":"function","z":"21b16085.5aaaa","name":"Get torpedo","func":"if (msg.topic == 'sound')\n{\n    context.set(msg.topic,msg.payload);\n    return null;\n}\nvar soundOn = context.get('sound');\nif (soundOn == undefined) \n{\n    soundOn = false;\n    context.set('sound',false);\n}\nif (!soundOn) return null;\nif (msg.topic == 'cpm') msg.payload = flow.get('torpedo');\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":460,"wires":[["44c2c0d3.208ed"]]},{"id":"b73151f2.64885","type":"ui_switch","z":"21b16085.5aaaa","name":"Sound On","label":"Sound","group":"9d62e312.426bb","order":5,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"sound","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":460,"y":520,"wires":[["c05f908.ad2667"]]},{"id":"29f91679.1de79a","type":"function","z":"a7b9d689.b8a5e8","name":"Led Toggle","func":"if (msg.topic != 'tutorial/dma/red/ledToggle') return null;\nflow.set('red/ledToggle',msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":160,"wires":[["fd8577.f6e7fa88"]]},{"id":"234f518b.c2adde","type":"function","z":"a7b9d689.b8a5e8","name":"Status","func":"msg.topic = 'tutorial/web-app/red/status';\nmsg.payload = 0;\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":220,"wires":[["37446d4f.cf4742"]]},{"id":"8c59f67b.9759b8","type":"function","z":"a7b9d689.b8a5e8","name":"Led Toggle","func":"if (msg.topic != 'tutorial/dma/green/ledToggle') return null;\nflow.set('red/greenToggle',msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":420,"wires":[["3d4f5e9e.1b81f2"]]},{"id":"47fc8428.a55a1c","type":"inject","z":"a7b9d689.b8a5e8","name":"Init","topic":"","payload":"5","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":"8","x":530,"y":480,"wires":[["357d365b.933d2a"]]},{"id":"357d365b.933d2a","type":"function","z":"a7b9d689.b8a5e8","name":"Status","func":"msg.topic = 'tutorial/web-app/green/status';\nmsg.payload = 0;\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":480,"wires":[["35c4eddb.a566a2"]]}]